.table {
  border-collapse: collapse;
  width: 100%;
}

.table__head {
  cursor: pointer;
}

.table__head svg {
  vertical-align: middle;
  margin-top: -2px;
}

.table__head:last-child {
  cursor: initial;
}

.table__head,
.table__data {
  border: 1px solid #ddd;
  padding: 4px 8px;
}

.table__title {
  font-size: 42px;
  font-weight: 600;
  padding-bottom: 8px;
}

.table__pagination__footer {
  padding-top: 12px;
  display: flex;
  justify-content: center;
}

.table__pagination__current {
  margin: 0 8px;
}